<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'taxi/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'taxi/skeleton.css' %}">
  <title>Register</title>
</head>
<body class="container" style="text-align: center;">
  {% block content %}
  <h2>Register</h2>

  <form method="post">
      {% csrf_token %}
      {{form}}
      <input type="submit" value="Register">
  </form>

  {% endblock %}
</body>
</html>